@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Urbanist", sans-serif;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

body:not(.dark) {
  background: url("/img/background.png"), #e5e5e5;
}

body.dark {
  background: url("/img/background.png"), #232531 !important;
}

.is-dark {
  filter: opacity(90%);
  -webkit-filter: opacity(90%);
  background-size: 150px 150px;
  position: relative;
  transition: all 0.3s ease-in-out;
  @apply text-black dark:text-white;
}

.main-banner {
  @apply h-screen;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}

/* Toggle B */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #232531;
}

input[type="text"],
textarea {
  background: transparent;
  border: none;
  font-size: 2rem;
}

input[type="text"]:focus,
textarea:focus {
  border: none;
  outline: none;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #000000;
}

.dark input[type="text"]::placeholder,
.dark textarea::placeholder {
  color: #fff;
}

.dark input[type="text"]:focus,
.dark textarea:focus {
  border-bottom: 1px solid #fff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  input[type="text"],
  textarea {
    font-size: 18px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  input[type="text"],
  textarea {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  input[type="text"],
  textarea {
    font-size: 56px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 992px) {
  input[type="text"],
  textarea {
    font-size: 56px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1200px) {
  input[type="text"],
  textarea {
    font-size: 96px;
  }
}

.send-button {
  @apply text-[18px] md:text-[24px] lg:text-[56px] font-normal border border-[#232531] dark:border-white rounded-full px-7 py-2 bg-transparent hover:bg-[#232531] dark:bg-[#232531] dark:hover:bg-[#E5E5E5] text-[#232531] hover:text-[#E5E5E5] dark:text-[#E5E5E5] dark:hover:text-[#232531];
}

.get-started-button {
  @apply text-[16px] md:text-[18px] lg:text-[24px] xl:text-[32px] 2xl:text-[42px] font-normal border border-[#232531] dark:border-white rounded-full px-7 py-2 bg-transparent hover:bg-[#232531] dark:bg-[#232531] dark:hover:bg-[#E5E5E5] text-[#232531] hover:text-[#E5E5E5] dark:text-[#E5E5E5] dark:hover:text-[#232531];
}

a, button {
  transition: all 0.3s ease-in-out;
}

a, button, label, textarea, select, input {
  -webkit-tap-highlight-color: transparent !important;
}

.marquee {
  overflow: hidden;
  width: 100%;
}

.marquee.marquee-left .marquee-inner {
  -webkit-animation: marquee-left 5s linear infinite;
  animation: marquee-left 5s linear infinite;
}

.marquee.marquee-right .marquee-inner {
  -webkit-animation: marquee-right 5s linear infinite;
  animation: marquee-right 5s linear infinite;
}

.marquee-inner {
  align-items: center;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  will-change: transform;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
}

@-webkit-keyframes marquee-left {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes marquee-left {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes marquee-right {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}

@keyframes marquee-right {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translateZ(0);
  }
}

[data-scroll] {
  transition: all ease-out 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0.4;
}
.floating {
  transform: translatey(0px);
  animation: float 4s linear infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.flat-1 {
  z-index: 1;
}
.flat-2 {
  z-index: 10;
}
.flat-3 {
  z-index: 20;
}
.flat-4 {
  z-index: 30;
}
.flat-5 {
  z-index: 40;
}
.flat-6 {
  z-index: 50;
}
.flat-7 {
  z-index: 60;
}
.flat-8 {
  z-index: 70;
}
.flat-9 {
  z-index: 80;
}
.flat-10 {
  z-index: 90;
}

.point {
  position: absolute;
  width: 80vh;
  height: 80vh;
  border-radius: 500px;
  -webkit-filter: blur(10vh);
  filter: blur(10vh);
  transition: all ease-in-out 2s;
  animation: point 5s steps(100) infinite;
}

@keyframes point {
  from { 	transform: rotate(0deg) translateX(3rem); }
	to   {  transform: rotate(360deg) translateX(3rem); }
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.home-title {
  @apply text-[95px] md:text-[180px] lg:text-[200px] xl:text-[215px] 2xl:text-[277px] mx-auto font-normal;
}

.home-title-leading {
  @apply leading-[5rem] md:leading-[9rem] lg:leading-[10rem] xl:leading-[11rem] 2xl:leading-[16rem];
}

.home-subtitle {
  @apply text-[110px] md:text-[180px] lg:text-[210px] xl:text-[300px] 2xl:text-[359px] font-normal leading-[5.5rem] md:leading-[8rem] lg:leading-[12rem] xl:leading-[16rem] 2xl:leading-[20rem];
}

.wais-title {
  @apply text-[72px] md:text-[95px] lg:text-[116px] xl:text-[128px] 2xl:text-[144px] leading-[2rem] md:leading-[4rem] lg:leading-[5rem] xl:leading-[6rem] 2xl:leading-[8rem];
}

.wais-text {
  @apply text-[36px] md:text-[55px] lg:text-[70px] xl:text-[95px] 2xl:text-[114px] leading-[2rem] md:leading-[4rem] lg:leading-[5rem] xl:leading-[6rem] 2xl:leading-[8rem];
}

.wais-text-1 {
  @apply text-[24px] md:text-[44px] lg:text-[60px] xl:text-[70px] 2xl:text-[82px] leading-[2rem] md:leading-[4rem] lg:leading-[5rem] xl:leading-[6rem] 2xl:leading-[8rem];
}

.wais-text-2 {
  @apply text-[18px] md:text-[24px] lg:text-[28px] xl:text-[32px] 2xl:text-[40px] leading-[2rem] md:leading-[3rem] lg:leading-[3rem] xl:leading-[4rem] 2xl:leading-[5rem];
}

.wais-text-3 {
  @apply text-[14px] md:text-[18px] lg:text-[20px] xl:text-[28px] 2xl:text-[36px]  leading-[1rem] md:leading-[2rem] lg:leading-[2rem] xl:leading-[3rem] 2xl:leading-[3rem];
}

.wais-text-4 {
  @apply text-[32px] md:text-[32px] lg:text-[48px] xl:text-[58px] 2xl:text-[65px] leading-[3rem] md:leading-[2rem] lg:leading-[3rem] xl:leading-[4rem] 2xl:leading-[4rem];
}

.z-index-1 {
  z-index: -1;
}
